/*****************************************************
 * Magic Mirror 2                                    *
 * Custom CSS for MMM-homeassistant-sensors          *
 *                                                   *
 * By Erik Pettersson                                *
 * MIT Licensed.                                     *
 *                                                   *
 *****************************************************/

.MMM-homeassistant-sensors .symbol {
  padding-left: 0;
  vertical-align: top;
}

.MMM-homeassistant-sensors .image {
  text-align: right;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.MMM-homeassistant-sensors .title {
  text-align: left;
}

.MMM-homeassistant-sensors .value {
  padding-left: 30px;
  text-align: right;
  vertical-align: top;
}

.MMM-homeassistant-sensors .unit {
  text-align: right;
  vertical-align: top;
}

.MMM-homeassistant-sensors .blinkhigh {
  animation: blinker 3.5s linear infinite;
  color: #ff5555;
}

.MMM-homeassistant-sensors .blinklow {
  animation: blinker 3.5s linear infinite;
  color: #55acee;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
